* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

div ul {
  background: #dadada;
  padding: 50px;
  border-radius: 8px;
}

div li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
}

div li {
  border-bottom: solid 1px #f8f8f8;
  padding: 12px;
  width: 500px;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

div > button {
  margin-bottom: 30px;
  width: 600px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}
